<mat-toolbar color="accent" class="footer-toolbar">
    <div class="footer-column">
      <h3>Column 1</h3>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <div class="footer-column">
      <h3>Column 2</h3>
      <a href="#">Link 4</a>
      <a href="#">Link 5</a>
      <a href="#">Link 6</a>
    </div>
    <div class="footer-column">
      <h3>Column 3</h3>
      <a href="#">Link 7</a>
      <a href="#">Link 8</a>
      <a href="#">Link 9</a>
    </div>
  </mat-toolbar>
  