// @import '../node_modules/alertifyjs/build/alertify.min.js';
// @import '../node_modules/alertifyjs/build/scss/themes/bootstrap.min.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  